$small: 740px;

.container {
  height: 100%;
  width: 100%;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.bg {
  position: absolute;
  height: 50vh;
  width: 100%;
}

@media (max-width: $small) {
  .bg {
    height: 40vh;
  }
}

.player {
  width: 200px;
  bottom: 0;
  position: absolute;
  transition: all 1s;
  opacity: 1;
}

.enemy {
  width: 150px;
  top: 15px;
  right: 15px;
  position: absolute;
  transition: all 1s;
  opacity: 1;
}

.shake {
  animation: shake 0.1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

.fadeOut {
  opacity: 0;
}
